<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
        
        #header{
                font-size: 125%;
        }
        #list_pegawai{
                text-align: center;
        }

</style>
<head>

</head>
<body>

                <h1 style="font-size:300%">Detail Absensi</h1>
                <hr>
                <h3>Judul Absensi</h3><h3>03-25-2019 - 04-30-2019</h3>
                <h3>Hari Kerja</h3><h3>35</h3>
        
                <h2>Daftar Pegawai</h2>
        
                <!--dropdown filter based on product-->
                <table id="list_pegawai">
                        <thead>
                                <tr id="header">
                                        <th>NIP</th>
                                        <th>Nama Pegawai</th>
                                        <th>Hadir</th>
                                        <th>Sakit</th>
                                        <th>Izin</th>
                                        <th>Alfa</th>
                                        <th>Libur</th>
                                        <th>Cuti</th>
                                        <th>Lain-Lain</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <td>1606884522</td>
                                        <td>wuRYYYYYYYYYY</td>
                                        <td>25</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>4</td>
                                        <td>1</td>
                                        <td>0</td>
                                </tr>
                                <tr>
                                        <td>1606884523</td>
                                        <td>wurwur</td>
                                        <td>25</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>4</td>
                                        <td>1</td>
                                        <td>0</td>
                                </tr>
        
        
                        </tbody>
                </table>      


        <h2>2 Pegawai Proyek</h2>   
        
        <hr>


</body>
<footer>

</footer>
</html>