<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
        
        #header{
                font-size: 125%;
        }
        #list_pegawai{
                text-align: center;
        }

		

		
</style>
<head>

</head>
<body>

                <h1 style="font-size:300%">Detail Absensi</h1>
                <hr>

                	<h3>Judul Absensi :</h3>
                	<h3 th:text="${judul_kehadiran}"></h3>

                	<h3>Hari Kerja :</h3>
                	<h3 th:text="${jumlah_hari_kerja}"></h3>

                

        	
                <h2>Daftar Pegawai</h2>
        
                <!--dropdown filter based on product--> 	
                <table id="list_pegawai">
                        <thead>
                                <tr id="header">
                                        <th>NIP</th>
                                        <th>Nama Pegawai</th>
                                        <th>Hadir</th>
                                        <th>Sakit</th>
                                        <th>Izin</th>
                                        <th>Alfa</th>
                                        <th>Libur</th>
                                        <th>Cuti</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr th:each="kehadiran,iteration : *{detail_detail_kehadiran}">
                                        <td th:text="${nip_pegawai[iteration.index]}">1606884522</td>
                                        <td th:text="${nama_pegawai[iteration.index]}">wuRYYYYYYYYYY</td>
                                        <td th:text="${kehadiran.jumlah_kehadiran}">25</td>
                                        <td th:text="${kehadiran.jumlah_sakit}">1</td>
                                        <td th:text="${kehadiran.jumlah_izin}">1</td>
                                        <td th:text="${kehadiran.jumlah_absen}">1</td>
                                        <td th:text="${kehadiran.jumlah_off}">4</td>
                                        <td th:text="${kehadiran.jumlah_cuti}">1</td>
                                        
                                </tr>
                                
        
        
                        </tbody>
                </table>      


        <h2 th:text="'Jumlah Pegawai Proyek : '+${#lists.size(detail_detail_kehadiran)}"></h2>   
        
        <hr>


</body>
<footer>

</footer>
</html>