<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
        #list_pegawai{
                border: black;
        }
        #header{
                font-size: 125%;
                
        }
</style>
<head>

</head>
<body>

        <h1 style="font-size:300%">Form Penambahan Absensi</h1>
        <hr>
        <h3>Judul Absensi</h3>
        <h3>Hari Kerja</h3>

        <h2>Daftar Pegawai</h2>

        <!--dropdown filter based on product-->
        <table id="list_pegawai">
                <thead>
                        <tr id="header">
                                <th>NIP</th>
                                <th>Nama Pegawai</th>
                                <th>Hadir</th>
                                <th>Sakit</th>
                                <th>Izin</th>
                                <th>Alfa</th>
                                <th>Libur</th>
                                <th>Cuti</th>
                                <th>Lain-Lain</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>asd</td>

                        </tr>
                        <tr>
                                <td>aaa</td>
                        </tr>


                </tbody>
        </table>



















</body>
<footer>

</footer>
</html>