<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
        
        #header{
                font-size: 125%;
        }

</style>
<head>

</head>
<body>
        <form action="">
                <h1 style="font-size:300%">Form Penambahan Absensi</h1>
                <hr>
                <h3>Judul Absensi</h3><input type="date" name="judul"><h3>-</h3></h3><input type="date" name="absensi">
                <h3>Hari Kerja</h3><input type="number" name="jumlah_kehadiran">
        
                <h2>Daftar Pegawai</h2>
        
                <!--dropdown filter based on product-->
                <table id="list_pegawai">
                        <thead>
                                <tr id="header">
                                        <th>NIP</th>
                                        <th>Nama Pegawai</th>
                                        <th>Hadir</th>
                                        <th>Sakit</th>
                                        <th>Izin</th>
                                        <th>Alfa</th>
                                        <th>Libur</th>
                                        <th>Cuti</th>
                                        <th>Lain-Lain</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr id="test1" th:each="pegawai,iteration : *{nama_pegawai}">
                                        <td th:text="${nip_pegawai[iteration.index]}">1606884522</td>
                                        <td th:text="${pegawai}">wuRYYYYYYYYYY</td>
                                        <td><input type="number" name="jumlah_hadir_1"></td>
                                        <td><input type="number" name="jumlah_sakit_1"></td>
                                        <td><input type="number" name="jumlah_izin_1"></td>
                                        <td><input type="number" name="jumlah_alfa_1"></td>
                                        <td><input type="number" name="jumlah_libur_1"></td>
                                        <td><input type="number" name="jumlah_cuti_1"></td>
                                        <td><input type="number" name="jumlah_lain_lain_1"></td>
                                </tr>
                                
        
        
                        </tbody>
                </table>        
                <h2>2 Pegawai Proyek</h2> 
                <hr>
                <input type="submit" value="SIMPAN">
                <button>batalkan</button>
        </form>




</body>
<footer>

</footer>
</html>