<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
        
        #header{
                font-size: 125%;
        }

</style>
<head>

</head>
<body>
        <form action="#" th:action="'/proyek/'+${proyek_id}+'/kehadiran/update/submit'" method="post" th:object="${daftar_kehadiran}">
                <h1 style="font-size:300%">Form Ubah Absensi</h1>
                <hr>
                <h3>Judul Absensi</h3>
                <input type="text" th:value="${judul_kehadiran}" name="judul_absensi" >
                
                <h3>Hari Kerja</h3>
                <input type="number" th:value="${jumlah_hari_kerja}" name="jumlah_hari_kerja" >
        
                <h2>Daftar Pegawai</h2>
        
                <!--dropdown filter based on product-->
                <table id="list_pegawai">
                        <thead>
                                <tr id="header">
                                        <th>NIP</th>
                                        <th>Nama Pegawai</th>
                                        <th>Hadir</th>
                                        <th>Sakit</th>
                                        <th>Izin</th>
                                        <th>Alfa</th>
                                        <th>Libur</th>
                                        <th>Cuti</th>
                                        <th>Lain-Lain</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr id="test1" th:each="daftar_kehadiran, itemStat : *{daftar_kehadiran}">
                                        <td th:text="${nip_pegawai[itemStat.index]}">wuRYYYYYYYYYY</td>
                                        <td th:text="${nama_pegawai[itemStat.index]}">wuRYYYYYYYYYY</td>
                                        <td><input type="number" th:field="*{daftar_kehadiran[__${itemStat.index}__].jumlah_kehadiran}" name="jumlah_hadir"></td>
                                        <td><input type="number" th:field="*{daftar_kehadiran[__${itemStat.index}__].jumlah_sakit}" name="jumlah_sakit"></td>
                                        <td><input type="number" th:field="*{daftar_kehadiran[__${itemStat.index}__].jumlah_izin}" name="jumlah_izin"></td>
                                        <td><input type="number" th:field="*{daftar_kehadiran[__${itemStat.index}__].jumlah_absen}" name="jumlah_alfa"></td>
                                        <td><input type="number" th:field="*{daftar_kehadiran[__${itemStat.index}__].jumlah_off}" name="jumlah_libur"></td>
                                        <td><input type="number" th:field="*{daftar_kehadiran[__${itemStat.index}__].jumlah_cuti}" name="jumlah_cuti"></td>
                                        <td><input type="number" th:field="*{daftar_kehadiran[__${itemStat.index}__].jumlah_lain_lain}" name="jumlah_lain_lain"></td>
                                		<td><input type="hidden" th:field="*{daftar_kehadiran[__${itemStat.index}__].pegawai_outsourcing}"></td>
                                		<td><input type="hidden" th:field="*{daftar_kehadiran[__${itemStat.index}__].id}"></td>
                                </tr>
                                
        
        
                        </tbody>
                </table>        
                <h2 th:text="'Jumlah Pegawai Proyek : '+${#lists.size(nama_pegawai)}"></h2> 
                <hr>
                <input type="submit" value="SIMPAN">
                <button>batalkan</button>
        </form>




</body>
<footer>

</footer>
</html>