<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>

<style>
	#add_produk{
		display:flex;	
	}
	#form_add{
		outline: 0;
  		border-width: 0 0 0.5px;
  		border-color: black;
  		font-size:12px;
	}

</style>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<form th:action="@{/account/add/submit}" th:object="${account}" method = "POST">
		<div id="add_produk">
			<h2>Nama : </h2>
			<input id="form_add" type="text" name="name" required/>
		</div>
		<div id="add_produk">
			<h2>Username : </h2>
			<input id="form_add" type="text" name="username" required/>
		</div>
		<div id="add_produk">
			<h2>Password : </h2>
			<input id="form_add" type="password" name="password" required/>
		</div>
		<div>
			<h2>Peran : </h2>
			<input type="radio" name="role" value="pelamar"/>Pelamar
		</div>
		
		<button type="submit">Submit</button>
	</form>
	





</body>

<footer>



</footer>



</html>