<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>

<style>
	#add_produk{
		display:flex;	
	}
	#form_add{
		outline: 0;
  		border-width: 0 0 0.5px;
  		border-color: black;
  		font-size:12px;
	}

</style>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<form th:action="@{/account/update/submit}" th:object="${akun}" method = "POST">
		<input type="hidden" th:field="*{id}"/>
		<div id="add_produk">
			<h2>Nama : </h2>
			<input id="form_add" type="text" th:field="${akun.name}" name="name" />
		</div>
		<div id="add_produk">
			<h2>Username : </h2>
			<input id="form_add" type="text" th:field="${akun.username}" name="username" />
		</div>
		<div id="add_produk">
			<h2>Password : </h2>
			<input id="form_add" type="password" th:field="${akun.password}" name="password" />
		</div>
		<div>
			<h2>Peran : </h2>
			<input type="radio" name="role" th:field="${akun.role}" value="busdev"/>Business Development
			<input type="radio" name="role" th:field="${akun.role}" value="hr"/>Human Resource
			<input type="radio" name="role" th:field="${akun.role}" value="pelamar"/>Pelamar
			<input type="radio" name="role" th:field="${akun.role}" value="viewer"/>Pegawai
		</div>
		
		<button type="submit">Submit</button>
	</form>
	





</body>

<footer>



</footer>



</html>