<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>

<style>
	#add_produk{
		display:flex;	
	}
	#form_add{
		outline: 0;
  		border-width: 0 0 2px;
  		border-color: black;
  		font-size:24px;
	}

</style>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<form th:action="@{/produk/update/submit}" th:object="${produk}" method = "POST">
		<input type="hidden" th:field="*{id}"/>
		<div id="add_produk">
			<h2>Nama Produk : </h2>
			<input id="form_add" type="text" th:field="${produk.nama_produk}" name="nama_produk" required/>
		</div>
		
		<button type="submit">Submit</button>
	</form>
	





</body>

<footer>



</footer>



</html>